.ControlGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .Label {
    position: absolute;

    width: 0;
    height: 0;
    overflow: hidden;
  }

  .Month,
  .Year {
    font-weight: bold;
    font-size: var(--offset-medium);
  }

  button {
    height: 100%;

    color: var(--color-border);
    font-size: 1.4rem;

    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;

    transition: all var(--transition) ease-in-out;

    &:focus {
      color: var(--color-background-focus);

      outline: none;
      box-shadow: var(--box-shadow-active);
    }
  }
}
