.ControlGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .Label {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .Month,
  .Year {
    font-size: var(--offset-medium);
    font-weight: bold;
  }

  button {
    height: 100%;
    font-size: 1.4rem;
    color: var(--color-border);
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    transition: all var(--transition) ease-in-out;
    cursor: pointer;

    &:focus {
      color: var(--color-background-focus);
      box-shadow: var(--box-shadow-active);
      outline: none;
    }
  }
}
