.Container {
  transition: all var(--transition) ease-in-out;

  &.Opened {
    margin: var(--offset-small) 0;
  }
}

.Header {
  display: inline-block;
  width: 100%;
}

.Content {
  position: relative;

  overflow: hidden;

  transition: height var(--transition) ease-in-out;

  &.Open {
    overflow: initial;
  }
}

.Hidden {
  position: absolute;

  width: 100%;
}
