.Container {
  position: relative;

  overflow: hidden;

  background-color: white;
  border-radius: 0.8rem;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;

  .CloseBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;

    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    appearance: none;
    user-select: none;
  }
}
