.Container {
  position: absolute;
  top: 50%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  opacity: 0.3;
  background-color: var(--color-background-focus);
  border-radius: 50%;
  transform: scale(1) translateY(-50%);
  transition: all var(--transition-normal) ease-in-out;

  &:hover,
  &:focus {
    &:not(:disabled) {
      opacity: 1;
      background-color: var(--color-background-focus);
      transform: scale(1.04) translateY(-50%);
    }
  }

  &:active {
    &:not(:disabled) {
      opacity: 1;
      background-color: var(--color-background-focus);
      transform: scale(0.98) translateY(-50%);
    }
  }

  &.Left {
    left: var(--offset-medium);
  }

  &.Right {
    right: var(--offset-medium);
  }
}
