.Container {
  display: flex;
  gap: var(--offset-small);
  align-items: center;
  width: 100%;

  transition: all var(--transition) ease-in-out;

  &,
  * {
    box-sizing: border-box;

    &:not(.Input) {
      user-select: none;
    }
  }

  .LabelContainer {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: var(--offset-small);
    align-items: flex-start;

    font-size: var(--font-small);

    .Label {
      color: var(--color-label);
      text-align: left;

      cursor: pointer;

      transition: all var(--transition) ease-in-out;
    }
  }

  .InputWrap {
    position: relative;

    width: var(--offset-large);
    height: var(--offset-large);

    .Input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: 100%;
      margin: 0;

      outline: none;
      cursor: pointer;
      opacity: 0;

      &:checked + .Checkmark::after {
        opacity: 1;
      }

      &:focus + .Checkmark {
        background-color: var(--color-input-background-focus);
        box-shadow: var(--box-shadow-inset);
      }

      &:disabled {
        /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
        cursor: not-allowed;

        + .Checkmark {
          background-color: var(--color-input-background-disabled);
          border: var(--border-width) dashed var(--color-border-disabled);
        }
      }

      &.Error ~ .Checkmark {
        background-color: var(--color-input-background-error);
        border-color: var(--color-border-error);
      }
    }

    .Checkmark {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      border: var(--border-width) solid var(--color-border);
      border-radius: var(--border-radius);

      transition: all var(--transition) ease-in-out;

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;

        width: 65%;
        height: 65%;

        background-color: var(--color-font);
        border-radius: calc(var(--border-radius) / 2);
        transform: translate(-50%, -50%);
        opacity: 0;

        transition: all var(--transition) ease-in-out;

        content: "";
      }
    }
  }
}
