.Container {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  background-color: rgb(241 241 144 / 10%);
}

.EnterAnimation {
  transition: opacity 300ms;
  animation: grow-opacity 300ms;
}

.ExitAnimation {
  animation: shrink-opacity 300ms;
}

@keyframes grow-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shrink-opacity {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
