# dependencies:
node_modules

# ide:
.idea
.vscode

# built code:
dist
out
storybook-static
bundle-analysis.html

# logs:
yarn-error.log

# tests:
coverage
cypress/e2e/examples
.nyc_output
instrumented
nyc
