{
  "all": true,
  "exclude": [
    "**/*.spec.*",
    "**/*.test.*",
    "**/stories/**"
  ],
  "include": "src",
  "report-dir": "nyc/coverage",
  "reporter": [
    "clover",
    "cobertura",
    "json",
    "json-summary",
    "lcov",
    "text"
  ],
  "temp-dir": "nyc/temp",
  "branches": 65,
  "lines": 85,
  "functions": 75,
  "statements": 85
}
