{
  "endOfLine": "auto",
  "importOrder": [
    "^@rounik(.*)$",
    "^@core(.*)|^@core/(.*)|^@services(.*)|^@services/(.*)|^@styles(.*)|^@styles/(.*)|^@types(.*)|^@types/(.*)|^@ui(.*)|^@ui/(.*)",
    "^[./].*(?<!\\.scss)$",
    "\\.scss$"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none"
}
