.Container {
  display: flex;
  flex-direction: column;

  &,
  * {
    box-sizing: border-box;

    outline: none;

    &:not(.Input) {
      user-select: none;
    }
  }

  .Label {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--offset-small) / 2);

    color: var(--color-label);
    font-size: var(--font-small);

    .Required {
      font-size: var(--font-tiny);
    }
  }

  .InputWrap {
    position: relative;

    width: 100%;
    overflow: hidden;
  }

  .Input {
    width: 100%;
    padding: var(--offset-medium);

    color: var(--color-font);
    font-size: var(--font-medium);

    border: var(--border-width) solid var(--color-border);
    border-radius: var(--border-radius);

    transition: all var(--transition) ease-in-out;

    &:focus {
      background-color: var(--color-input-background-focus);
      box-shadow: var(--box-shadow-inset);

      &.WithMask {
        background-color: transparent;
      }
    }

    &:disabled {
      border: var(--border-width) dashed var(--color-border-disabled);
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      cursor: not-allowed;
    }

    &.Error {
      background-color: var(--color-input-background-error);
      border-color: var(--color-border-error);
    }
  }
}
