.Container {
  position: relative;

  width: 100%;
  height: var(--offset-medium);
  margin-bottom: var(--offset-tiny);

  .Content {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    color: var(--color-label);

    .Label {
      margin-right: var(--offset-medium);
      overflow: hidden;

      font-size: var(--font-small);
      white-space: nowrap;
      text-align: left;
      text-overflow: ellipsis;

      cursor: pointer;
    }

    .Required {
      min-width: var(--offset-xxl);
      overflow: hidden;

      font-size: var(--font-tiny);
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .NoLabelTruncate {
      overflow: visible;

      text-overflow: initial;
    }
  }
}
