$trackHeight: 6px;

.Container {
  position: absolute;
  width: var(--offset-medium);
  height: var(--offset-medium);
  background-color: var(--color-border);
  border-radius: var(--border-radius);
  transform: translate(-50%, calc(-50% + $trackHeight / 2));
  box-shadow: var(--box-shadow);
  transition: box-shadow var(--transition) ease-in-out;
  cursor: pointer;

  &:focus,
  &:active {
    background-color: var(--color-label);
    box-shadow: var(--box-shadow-active);
    outline: none;

    .Value {
      color: var(--color-background-focus);
      font-weight: bold;
      background-color: var(--color-success);
    }
  }
}

.Value {
  display: inline-block;
  padding: 1rem;
  font-size: var(--font-medium);
  border-radius: var(--border-radius);
  transform: translate(calc(-50% + 1rem), -150%);
}
