$baseScale: calc(20 / 24);

$activeScale: calc(24 / 24);

.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--offset-large);
  height: var(--offset-large);
  background-color: transparent;
  border-radius: 50%;

  &.Action {
    &:focus,
    &:hover {
      .Icon {
        transform: scale($activeScale);
      }
    }
  }

  * {
    box-sizing: border-box;
    user-select: none;
  }
}

.Icon {
  fill: transparent;
  stroke: var(--color-border-active);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  transition: all var(--transition-normal) ease-in-out;
  transform: scale($baseScale);
}
