.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--offset-large);
  height: var(--offset-large);
  background-color: transparent;
  border-radius: 50%;

  &.Action {
    &:focus,
    &:hover {
      .Icon {
        transform: scale(1);
      }
    }
  }

  * {
    box-sizing: border-box;
    user-select: none;
  }
}

.Icon {
  fill: transparent;
  stroke: var(--color-border);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  transition: all var(--transition) ease-in-out;
  transform: scale(0.8);

  &.Light {
    stroke: var(--color-button);
  }
}
