.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
  height: 100%;
  line-height: var(--font-medium);
  font-size: var(--font-medium);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: all var(--transition) ease-in-out;
  cursor: pointer;

  &.Today {
    color: var(--color-background-focus);
    background-color: var(--color-selected-background);
    border-radius: var(--border-radius);
  }

  &.FromOtherMonth {
    color: var(--color-font);

    &.Today {
      color: var(--color-background-focus);
    }
  }

  &.Selected {
    color: var(--color-background-focus);
    background-color: var(--color-success);
    border-radius: var(--border-radius);
  }

  &.NotSelectable {
    opacity: 0.3;
    color: var(--color-error);
    cursor: not-allowed;
  }

  &.Focused,
  &:hover {
    box-shadow: var(--box-shadow-active);
    border-radius: var(--border-radius);
    outline: none;
  }
}

.Button {
  appearance: none;
  width: 100%;
  height: 100%;
  color: inherit;
  font-size: inherit;
  background-color: inherit;
  border: none;
  outline: none;
  cursor: inherit;
}
