.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
  height: 100%;
  line-height: var(--font-normal);
  font-size: var(--font-normal);
  text-align: center;
  cursor: pointer;

  &.Today {
    color: var(--color-background-focus);
    background-color: var(--color-border);
    border-radius: var(--border-radius-normal);
  }

  &.FromOtherMonth {
    color: var(--color-font-secondary);
  }

  &.Selected {
    color: var(--color-background-focus);
    background-color: var(--color-ok);
    border-radius: var(--border-radius-normal);
  }

  &.NotSelectable {
    opacity: 0.3;
    color: var(--color-error);
    cursor: not-allowed;
  }

  &:focus {
    background-color: var(--color-background-focus);
    border-radius: var(--border-radius-normal);
    outline: none;
  }
}
