.Container {
  display: inline-block;
  width: 100%;

  &,
  * {
    box-sizing: border-box;

    &:not(.Input) {
      user-select: none;
    }
  }

  .Input {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    padding: 0 1.6rem;
    line-height: 2rem;
    overflow: hidden;
    color: black;
    font-size: 1.6rem;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: white;
    border: 0.1rem solid black;
    border-radius: 0.4rem;
    transition: all 300ms ease-in-out;
    outline: none;

    &::-ms-clear {
      display: none;
    }

    &::placeholder {
      color: grey;
    }

    &:hover {
      border-color: blue;
    }

    &.Focus {
      border-color: lightblue;
    }

    &.Error {
      border-color: red;
    }

    &.Disabled {
      color: lightgray;
      border: 0.2rem dashed grey;
      cursor: not-allowed;
    }
  }
}
