.Max,
.Min,
.Option {
  position: absolute;
  color: var(--color-font);
  font-size: var(--font-small);
  transform: translate(-50%, -200%);
}

.Max {
  right: 0;
  transform: translate(50%, -200%);
}
