.Container {
  margin: var(--offset-small);
  padding: var(--offset-small) var(--offset-medium);
  color: var(--color-button);
  font-size: var(--font-small);
  background-color: var(--color-button-primary-background);
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  outline: none;
  cursor: pointer;
  transition: all var(--transition) ease-in-out;

  &:hover {
    box-shadow: var(--box-shadow-active);
  }

  &.Edit {
    color: var(--color-font);
    background-color: var(--color-button-secondary-background);
  }

  &.Warn {
    background-color: var(--color-warn);
  }
}
