.Container {
  margin: var(--offset-small);
  padding: var(--offset-small) var(--offset-medium);

  color: var(--color-button);
  font-size: var(--font-small);

  background-color: var(--color-button-primary-background);
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  box-shadow: var(--box-shadow);
  cursor: pointer;

  transition: all var(--transition) ease-in-out;

  &:focus,
  &:hover {
    box-shadow: var(--box-shadow-active);
  }

  &.Edit {
    color: var(--color-font);

    background-color: var(--color-button-secondary-background);
  }

  &.Warn {
    background-color: var(--color-error);
  }
}
