.Container {
  position: relative;
  overflow: hidden;
  background-color: var(--color-border-active);
  border-radius: var(--border-radius-normal);
  border: 0 solid var(--color-background-focus);
  transition: border var(--transition-normal) ease-in-out;

  &.Pausable {
    &:focus,
    &:hover {
      border: 1px solid var(--color-background-focus);
    }
  }
}

.Track {
  display: flex;
  align-items: center;
  width: 200%;
  height: 100%;
  transform: translate(0, 0);
  will-change: transform;

  &.MoveToLeft {
    transform: translate(-50%, 0);
    transition: transform var(--transition-normal) ease-in-out;
  }

  &.ToRight {
    transform: translate(-50%, 0);
  }

  &.MoveToRight {
    transform: translate(0, 0);
    transition: transform var(--transition-normal) ease-in-out;
  }
}

.Frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.Current {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}
