.Container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  transition: all 300ms ease-in-out;

  &,
  * {
    box-sizing: border-box;

    &:not(.Input) {
      user-select: none;
    }
  }

  &:hover:not(.Disabled) {
    .LabelContainer .Label {
      color: blue;
      text-decoration: underline;
    }

    .Input ~ .Checkmark {
      border-color: blue;
    }

    .Input.Error ~ .Checkmark {
      border-color: red;
    }
  }

  &.Error:hover:not(.Disabled) {
    .LabelContainer .Label {
      color: red;
      text-decoration: underline;
    }
  }

  &.Disabled:hover .LabelContainer .Label {
    cursor: default;
  }

  .LabelContainer {
    display: flex;
    flex: 1;
    gap: 0.8rem;
    align-items: flex-start;
    flex-wrap: wrap;
    font-size: 1.4rem;

    .Label {
      color: grey;
      font-size: 1.6rem;
      text-align: left;
      cursor: pointer;
      transition: all 300ms ease-in-out;
    }

    .LabelError {
      color: red;
    }

    .Required,
    .Optional {
      white-space: nowrap;
    }

    .Asterisk {
      margin-right: 0.4rem;
    }
  }

  .InputBox {
    position: relative;
    width: 2rem;
    height: 2rem;

    .Input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      margin: 0;
      opacity: 0;
      outline: none;
      cursor: pointer;

      &::-ms-clear {
        display: none;
      }

      &:checked ~ .Checkmark {
        background-color: transparent;

        &::after {
          display: block;
        }
      }

      &:focus ~ .Checkmark {
        border-color: blue;
      }

      &.Error ~ .Checkmark {
        border-color: red;
      }

      &.Disabled {
        cursor: not-allowed;

        ~ .Checkmark {
          border: 0.1rem dashed lightgray;

          &::after {
            background-image: url("../../../../assets/svg/checkbox-tick-disabled.svg");
          }
        }
      }
    }

    .Checkmark {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      border: 0.1rem solid black;
      border-radius: 0.4rem;
      transition: all 300ms ease-in-out;
      user-select: none;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        display: none;
        width: 1.6rem;
        height: 1.6rem;
        background: url("../../../../assets/svg/checkbox-tick.svg") no-repeat center;
        transform: translate(-50%, -50%);
      }
    }
  }
}
