.Container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Label {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--offset-small) / 2);
  color: var(--color-label);
  font-size: var(--font-small);

  .Required {
    color: var(--color-border);
    font-size: var(--font-tiny);
  }
}
