.Container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.Label {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--offset-small) / 2);
  color: var(--color-label);
  font-size: var(--font-small);

  .Required {
    color: var(--color-border);
    font-size: var(--font-tiny);
  }
}

.CalendarEnter {
  transform-origin: top right;
  animation: scaleIn var(--transition-normal) ease-in-out forwards;
}

.CalendarExit {
  transform-origin: top right;
  animation: scaleOut var(--transition-normal) ease-in-out forwards;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
