:root {
  font-family: Roboto Condensed, sans-serif;
  font-size: 10px;

  * {
    box-sizing: border-box;
  }

  // ********* Colors ****************

  // Inputs:
  --color-border: #525252;
  --color-border-focus: #1c1c1c;
  --color-border-error: #b01717;
  --color-border-disabled: #6d6d6d;

  --color-input-background: #ffffff;
  --color-input-background-focus: #f7f7f7;
  --color-input-background-error: #ffcccc;
  --color-input-background-disabled: #dddbdb;

  // Main:
  --color-background: #ffffff;

  // Color:
  --color-card-background: #f5f5f5;
  --color-hover-background: #4e4e4e;
  --color-selected-background: #868686;

  // Fonts:
  --color-font: #1c1c1c;
  --color-error: #b01717;
  --color-label: #444444;
  --color-button: #f7f7f7;
  --color-button-disabled: #050505;
  --color-success: #47a112;
  --color-warn: #cc4646;

  // Buttons: they should have box-shadow when active
  --color-button-primary-background: #525252; // color: --color-button
  --color-button-primary-background-disabled: #999999; // color: --color-button-disabled

  // This one goes with a border:
  --color-button-secondary-background: #d1d1d1; // color: --color-font
  --color-button-secondary-background-disabled: #808080; // color: --color-label

  // ********* Borders ****************

  // border-width
  --border-width: 0.1rem;

  // border-radius:
  --border-radius: 0.4rem;

  // ********* Fonts ****************

  // font-size:
  --font-tiny: 1.2rem;
  --font-small: 1.4rem;
  --font-medium: 1.6rem;
  --font-large: 1.8rem;

  // ********* Offsets ****************

  // margin, padding:
  --offset-tiny: 0.4rem;
  --offset-small: 0.8rem;
  --offset-medium: 1.6rem;
  --offset-large: 2.4rem;
  --offset-xl: 3.2rem;
  --offset-xxl: 4rem;

  // ********* Effects ****************

  // transition:
  --transition: 300ms;

  // box-shadow:
  --box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  --box-shadow-active: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  --box-shadow-inset: inset 0 0 0 0.1rem rgba(0, 0, 0, 0.7);
}

$baseFontSize: 10px;

:export {
  baseFontSize: $baseFontSize;
}
