.Container {
  display: flex;
}

.Input {
  width: 14rem;
  padding-left: var(--offset-small);
  font-size: var(--offset-medium);
  border: 1px solid var(--color-border);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.OpenControl {
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-left: none;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(----box-shadow);
  transition: all var(--transition-normal) ease-in-out;
  outline: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    box-shadow: var(----box-shadow-active);
  }
}
