.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 7);
  height: 100%;

  font-size: var(--font-medium);
  line-height: var(--font-medium);
  text-align: center;

  box-shadow: var(--box-shadow);
  cursor: pointer;

  transition: all var(--transition) ease-in-out;

  &.Today {
    color: var(--color-background-focus);

    background-color: var(--color-selected-background);
    border-radius: var(--border-radius);
  }

  &.FromOtherMonth {
    color: var(--color-font);

    &.Today {
      color: var(--color-background-focus);
    }
  }

  &.Selected {
    color: var(--color-background-focus);

    background-color: var(--color-success);
    border-radius: var(--border-radius);
  }

  &.NotSelectable {
    color: var(--color-error);

    /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
    cursor: not-allowed;
    opacity: 0.3;
  }

  &.Focused,
  &:hover {
    border-radius: var(--border-radius);
    outline: none;
    box-shadow: var(--box-shadow-active);
  }
}

.Button {
  width: 100%;
  height: 100%;

  color: inherit;
  font-size: inherit;

  background-color: inherit;
  border: none;
  outline: none;
  cursor: inherit;

  appearance: none;
}
