.List {
  display: inline-block;
  margin: 0;
  margin-top: 0.4rem;
  padding: 0;
  width: 100%;
  background-color: transparent;
  border-radius: 0.4rem;
  overflow-y: hidden;
  transition: height var(--transition) ease-in-out;
}
