.Container {
  display: flex;
  flex-direction: column;

  &,
  * {
    box-sizing: border-box;

    &:not(.Input) {
      user-select: none;
    }
  }

  .Label {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--offset-small) / 2);
    color: var(--color-label);
    font-size: var(--font-small);

    .Required {
      color: var(--color-border);
      font-size: var(--font-tiny);
    }
  }

  .InputWrap {
    width: 100%;
    position: relative;
  }

  .Input {
    width: 100%;
    padding: var(--offset-normal);
    color: var(--color-font);
    font-size: var(--font-medium);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius-small);
    transition: all var(--transition-normal) ease-in-out;

    &:focus {
      border: 1px solid var(--color-border-active);
      background-color: var(--color-background-focus);

      &.WithMask {
        background-color: transparent;
      }
    }

    &.Error {
      background-color: rgba($color: lightcoral, $alpha: 0.3);
      border-color: var(--color-error);
    }
  }
}
