.Container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  overflow-y: scroll;
}

.FormContainer {
  width: 80rem;
}

.Form {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.AddUserContainer {
  width: 100%;
}

.AddButton {
  margin-bottom: 1rem;
}

.RemoveUserButton {
  align-self: flex-end;
}

.Passwords {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.PasswordInput {
  margin-bottom: 1rem;

  &:first-child {
    margin-right: 1rem;
  }
}

.FormStateDisplay {
  width: calc(100% - 80rem);
  margin-left: 2rem;
  padding: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}
