.Container {
  position: relative;

  display: flex;
  flex-direction: column;
}

.Label {
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(var(--offset-small) / 2);

  color: var(--color-label);
  font-size: var(--font-small);

  &.NoLabel {
    justify-content: flex-end;
  }

  .Required {
    font-size: var(--font-tiny);
  }
}

.CalendarEnter {
  transform-origin: top right;

  animation: scale-in var(--transition) ease-in-out forwards;
}

.CalendarExit {
  transform-origin: top right;

  animation: scale-out var(--transition) ease-in-out forwards;
}

@keyframes scale-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
