.Container {
  position: relative;

  overflow: hidden;

  background-color: rgb(247 167 167);
  border-radius: 0.8rem;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;

  .CloseBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;

    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    appearance: none;
    user-select: none;
  }
}

.EnterAnimation {
  animation: grow-box 300ms;
}

.ExitAnimation {
  animation: shrink-box 300ms;
}

@keyframes grow-box {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes shrink-box {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}
