$trackHeight: 6px;

.Container {
  display: inline-block;
  width: 100%;
}

.Track {
  position: relative;
  display: flex;
  width: 100%;
  height: $trackHeight;
  margin: var(--offset-large) 0;
  background-color: var(--color-background-focus);
  border-radius: var(--border-radius-normal);
  cursor: pointer;
}

.Bar {
  position: absolute;
  height: $trackHeight;
  background-color: var(--color-ok);
}
