@import "../../styles/index";

.Container {
  display: none;
}

:root {
  --baseFontSize: #{$baseFontSize};

  font-size: var(--baseFontSize);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  body {
    * {
      box-sizing: border-box;

      user-select: none;
    }
  }

  input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
