$trackHeight: 6px;

.Container {
  position: absolute;
  width: var(--offset-medium);
  height: var(--offset-medium);
  background-color: var(--color-border);
  border-radius: var(--border-radius-normal);
  transform: translate(-50%, calc(-50% + $trackHeight / 2));
  cursor: pointer;

  &:focus,
  &:active {
    background-color: var(--color-label);
    outline: none;

    .Value {
      color: var(--color-background-focus);
      font-weight: bold;
      background-color: var(--color-ok);
    }
  }
}

.Value {
  display: inline-block;
  padding: 1rem;
  font-size: var(--font-normal);
  border-radius: var(--border-radius-normal);
  transform: translate(calc(-50% + 1rem), -150%);
}
