.Container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  overflow-y: scroll;
}

.FormContainer {
  width: 80rem;
}

.Form {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 4rem;
}

.AddUserContainer {
  width: 100%;
}

.AddButton {
  margin-bottom: 1rem;
}

.RemoveUserButton {
  align-self: flex-end;
}

.Passwords {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.PasswordInput {
  margin-bottom: 1rem;

  &:first-child {
    margin-right: 1rem;
  }
}

.FormStateDisplay {
  width: calc(100% - 80rem);
  margin-left: 2rem;
  padding: 2rem;

  font-weight: bold;
  font-size: 1.4rem;
}

// ************** Form with nested modals ************ //
.ContactsForm {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  width: 100%;
  padding: var(--offset-medium);

  background-color: var(--color-card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-active);

  &.Opened {
    display: initial;
  }

  .ContactContainer {
    display: flex;
    flex-direction: column;
  }

  .Contact {
    display: flex;
    align-items: center;

    .Text {
      flex: 1;
      margin-right: var(--offset-medium);
    }

    .Checkbox {
      width: 10rem;
    }
  }

  .Actions {
    margin-top: var(--offset-medium);
  }
}

.FormUseFieldDependency {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.Field {
  margin-bottom: var(--offset-large);
}
