.Container {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  padding: 2rem;
  overflow-y: auto;
}

.FormContainer {
  width: 90rem;
}

.Form {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem;

  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-active);

  .Checkbox,
  .Text {
    width: calc(100% / 2 - 2rem);
  }
}

.AddUserContainer {
  width: 100%;

  border-bottom: 0.1rem solid var(--color-button-secondary-background);

  .ContactSaved {
    font-size: 1.4rem;
  }
}

.AddButton {
  margin-bottom: 1rem;
}

.RemoveUserButton {
  align-self: flex-end;
}

.Passwords {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.PasswordInput {
  margin-bottom: 1rem;

  &:first-child {
    margin-right: 1rem;
  }
}

.FormStateDisplay {
  width: calc(100% - 90rem);
  margin-left: 2rem;
  padding: 2rem;

  font-weight: bold;
  font-size: 1.4rem;
}

// ************** Form with nested modals ************ //
.ContactsForm {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  min-height: 100%;
  padding: var(--offset-medium);

  background-color: var(--color-card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-active);

  &.Opened {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .ContactContainer {
    display: flex;
    flex-direction: column;
  }

  .Contact {
    display: flex;
    gap: 2rem;

    .ContactFieldsWrap {
      display: flex;
      gap: 2rem;
    }

    .Text {
      flex: 1;
      margin-right: var(--offset-medium);
    }

    .Checkbox {
      display: flex;
      width: 10rem;
    }

    .ButtonRemove {
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

.FormUseFieldDependency {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.Field {
  margin-bottom: var(--offset-large);
}
