.Container {
  display: flex;
  flex-direction: column;
  gap: var(--offset-medium);
}

.InnerContainer {
  display: flex;

  &.Row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--offset-large);
  }

  &.Column {
    flex-direction: column;
    gap: var(--offset-medium);
  }

  .RadioContainer {
    position: relative;

    .Input {
      position: absolute;
      z-index: 1;
      opacity: 0;
      user-select: none;
      transition: all var(--transition) ease-in-out;

      &:checked + .Label .LabelCircle::after {
        display: block;
      }

      &:focus + .Label .LabelCircle {
        border-color: var(--color-border-focus);
      }

      &:disabled + .Label {
        cursor: not-allowed;

        .LabelCircle {
          background-color: var(--color-input-background-disabled);
          border: var(--border-width) dashed var(--color-border-disabled);
        }
      }
    }

    .Label {
      display: flex;
      gap: var(--offset-small);
      overflow: hidden;
      color: var(--color-label);
      font-size: var(--font-small);
      text-overflow: ellipsis;
      transition: all var(--transition) ease-in-out;
      cursor: pointer;

      .LabelText {
        flex: 1;
        margin-top: calc(var(--offset-small) / 2);
      }

      .LabelCircle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--offset-large);
        height: var(--offset-large);
        background-color: var(--color-background);
        border: var(--border-width) solid var(--color-border);
        border-radius: 50%;
        transition: all var(--transition) ease-in-out;

        &::after {
          content: "";
          display: none;
          width: var(--offset-medium);
          height: var(--offset-medium);
          background-color: var(--color-font);
          border-radius: 50%;
          transition: all var(--transition) ease-in-out;
        }

        &.Error {
          background-color: var(--color-input-background-error);
          border-color: var(--color-border-error);
        }
      }
    }
  }
}
