@import "../../styles/index.scss";

.Container {
  display: none;
}

:root {
  --baseFontSize: #{$baseFontSize};

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: var(--baseFontSize);
}

body,
html {
  margin: 0;
  padding: 0;
}

html {
  body {
    * {
      box-sizing: border-box;
      user-select: none;
    }
  }
}
