.Container {
  position: absolute;
  right: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  width: 32rem;
  height: 37rem;
  padding: var(--offset-small);
  overflow: hidden;

  background-color: var(--color-background);
  border: 0.1rem solid var(--color-border);
  border-radius: var(--border-radius);

  will-change: transform;

  &:focus {
    outline: none;
  }

  .ControlGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Month,
    .Year {
      font-weight: bold;
      font-size: var(--offset-medium);
    }

    button {
      height: 100%;

      color: var(--color-border);
      font-size: 1.4rem;

      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        color: var(--color-background-focus);

        outline: none;
      }
    }
  }

  .Weekdays {
    display: flex;
    align-items: center;
    height: 2rem;
    margin: var(--offset-small) 0;
  }

  .Weekday {
    display: inline-block;
    width: calc(100% / 7);

    font-size: var(--font-medium);
    text-align: center;
  }

  .WeekList {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
}

.FromLeftEnter {
  animation: from-left-enter var(--transition) ease-in-out forwards;
}

.FromLeftExit {
  animation: from-left-exit var(--transition) ease-in-out forwards;
}

@keyframes from-left-enter {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes from-left-exit {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.FromRightEnter {
  animation: from-right-enter var(--transition) ease-in-out forwards;
}

.FromRightExit {
  animation: from-right-exit var(--transition) ease-in-out forwards;
}

@keyframes from-right-enter {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes from-right-exit {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
